<div class="note-item__root">
    <div *ngIf="!isNoteEditing" class="note-item__view">
        <input class="note-item__toggle" type="checkbox" [checked]="note.isCompleted" (click)="onToggleCompletion()">
        <label class="note-item__label" (dblclick)="onLabelDblClick()">{{note.title}}</label>
        <button class="note-item__remove-button" (click)="onRemoveNote()"></button>
    </div>
    <input *ngIf="isNoteEditing"
           #editInput
           class="note-item__edit"
           [value]="note.title"
           (blur)="editUpdate(editInput.value)"
           (keyup.enter)="editUpdate(editInput.value)"
           (keyup.escape)="editCancel()"
    />
</div>
