/* You can add global styles to this file, and also import other style files */
.todo-input {
    width: 100%;
    min-height: 40px;
    display: flex;
    align-items: center;
    font-size: 20px;
    padding-left: 10px;
    line-height: 23px;
    border: 1px solid #c7c1c1;
}
